<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32417582069-nguj7tlbu07h16llg27o1uo452auch2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32417582069-nguj7tlbu07h16llg27o1uo452auch2n</string>
	<key>API_KEY</key>
	<string>AIzaSyDXoRTfcBI7pUu8OK1DUASxyatzWbC5pFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>32417582069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhruvilpatel.ReservationControllerCapstonePrototype</string>
	<key>PROJECT_ID</key>
	<string>capstoneprototype-2806f</string>
	<key>STORAGE_BUCKET</key>
	<string>capstoneprototype-2806f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32417582069:ios:5c635001a77b7e0fec6ebc</string>
	<key>DATABASE_URL</key>
	<string>https://capstoneprototype-2806f.firebaseio.com</string>
</dict>
</plist>